.footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer .logo img {
  width: 30%;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.footer .logo p {
  color: var(--text-color);
}

.socail__links span a {
  text-decoration: none;
  color: var(--heading-color);
  font-size: 1.2rem;
}

.footer__link-title {
  color: var(--heading-color);
  margin-bottom: 1rem;
}
.footer__link-title {
  margin-bottom: 0;
  margin-top: 20px;
}

.footer__quick-links li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.1rem;
}

.footer__quick-links h6 span i {
  color: var(--secondary-color);
  font-size: 1.1rem;
}

.copyright {
  color: var(--text-color);
  font-size: 1rem;
}

.socail__links {
  justify-content: center;
}
.fixsocial__links {
  margin-top: 15px;
}

section {
  padding-top: 30px;
  padding-bottom: 0;
}

@media only screen and (max-width: 1024px) {
  .contactrespon {
    justify-content: center;
  }
  .paddingfix {
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .contactrespon {
    justify-content: center;
  }
  .paddingfix {
    padding-bottom: 20px;
  }
}
